
@using HW8.Models.ViewModel
@model ArtViewModel

<h2>@Model.AnArtist.Name </h2>


<h4>Artwork</h4>
<ul>
    @foreach (var painting in Model.Paintings)
    {
        <li>@painting.Title</li>
    }
</ul>
